<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style_sheet2.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='my_script.js')}}"></script>
    <title>Document</title>
</head>
<style>
    .box1 {
  width: 100px;
  height: 100px;
  background-color: {{first_color}};
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: {{second_color}};
}

</style>
<body>
    <div id="container">
        <div id="container">
            {%for i in range(0,num_row):%}
                <div class="row">
                    {%for j in range(0,num_box):%}
                        <div class="box{{(i+j)%2+1}}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
            
    </div>
    
</body>
</html>