<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
        <table>
            <tr>
                <td><label for="name">Your Name:</label></td>
                <td><input type="text" id="name" name="your_name"></td>
            </tr>
            <tr>
                <td>
                    <label for="dojo">Dojo location:</label>
                </td>
                <td>
                    <select name ="dojo_location" >
                    <option >Palestine</option>
                    <option ></option>Jordan</option>
                    <option >Egypt</option>    
                    </select>
                </td>
            </tr>
            <tr>
                <td> 
                    <label for="favourite">favourite language:</label>
                </td>
                <td>
                    <select name="favourite_language">
                        <option >Python</option>
                        <option >C++</option>
                        <option >Java</option>
                        <option >JavaScript</option>
                    </select>
                </td>
                
            </tr>
        </table>
        <p>Comment(optional)</p>
        <textarea name="text_area"></textarea>
        <input type="submit" value="Button">
            
    </form>
</body>
</html>